<div class="container my-auto">
  <div class="  align-middle  bg-dark text-white" id="main" >
  <div class="row" >
    <div class="col-6">
     <img src="../assets/images/user.png" class="rounded-circle" alt="Cinque Terre">
     <a routerLink="/login" routerLinkActive="active" class="btn btn-info"   role="button">User Login</a>
    </div>
    <div class="col-6">
     <img src="../assets/images/admin pn.png" class="rounded-circle" alt="Cinque Terre">
     <a routerLink="/adminlogin" routerLinkActive="active" class="btn btn-info" role="button"  >Admin Login</a>
    </div>
  </div>
  <div class="row" class="bg-dark align-middle text-white">
<div class="col-12">
    <h1 class="text-center" > Welcome To Nagarro Travel Portal</h1>
  </div>
  </div>
 </div>
 </div>
